<nav class="bg-white sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item active">
      <a class="nav-link" href="index.html">
        <img src="images/icons/1.png" alt="">
        <span class="menu-title">Dashboard</span>
      </a>
    </li>
    <li class="nav-item active">
      <a class="nav-link" href="pages/menus/index.html">
        <img src="images/icons/1.png" alt="">
        <span class="menu-title">Menus</span>
      </a>
    </li>
    <li class="nav-item active">
      <a class="nav-link" href="pages/restaurants/index.html">
        <img src="images/icons/1.png" alt="">
        <span class="menu-title">Restaurants</span>
      </a>
    </li>
  </ul>
</nav>